<div class="esriCTFullHeightWidth" data-dojo-attach-point="applicationHeaderShareContainer">
    <div data-dojo-attach-point="divAppContainer" class="esriCTDivAppContainer esriCTHideContainerHeight">
        <div class="esriCTDivAppHolder">
            <div id="divAppContent">
                <div class="esriCTTdShare" align="center" data-dojo-attach-point="tdFacebook">
                    <img title="Facebook" class="esriCTShareCursor" data-dojo-attach-point="imgFacebook" />
                </div>
                <div class="esriCTTdShare" align="center" data-dojo-attach-point="tdTwitter">
                    <img title="Twitter" class="esriCTShareCursor" data-dojo-attach-point="imgTwitter" />
                </div>
                <div class="esriCTTdShare" align="center" data-dojo-attach-point="tdMail">
                    <img title="Email" class="esriCTShareCursor" data-dojo-attach-point="imgMail" />
                </div>
            </div>
        </div>
    </div>
</div>
