<div data-dojo-attach-point="applicationHeaderParentContainer" class="esriCTMenuTab">
    <div class="esriCTMenuTabLeft displayBlock">
        <div class="esriCTHomeIcon">
            <img data-dojo-attach-point="applicationHeaderIcon" class="esriCTApplicationIcon"
                alt="${nls.appHeaderTitle}" title="${nls.appHeaderTitle}" /></div>
        <div data-dojo-attach-point="applicationHeaderName" class="esriCTGalleryName">
        </div>
    </div>
    <div data-dojo-attach-point="applicationHeaderWidgetsContainer" class="esriCTMenuTabRight">
    </div>
</div>
