<div data-dojo-attach-point="galleryandPannels" class="esriCTContentdiv">
    <div class="esriCTLeftPanel">
        <div data-dojo-attach-point="groupPanel" class="esriCTInnerLeftPanelTop displayNone">
            <div data-dojo-attach-point="groupDescPanelHeader" class="esriCTGalleryNameSample">
            </div>
            <div class="esriCTLogo">
                <img data-dojo-attach-point="groupLogo" alt="${nls.groupLogoText}" title="${nls.groupLogoText}" class="esriCTGroupLogo" /></div>
            <div data-dojo-attach-point="groupName" class="esriCTLeftHead">
            </div>
            <div class="esriCTLeftText">
                <div data-dojo-attach-point="groupDesc">
                </div>
                <span class="esriCTExpand" data-dojo-attach-point="expandGroupDescription"></span>
            </div>
        </div>
        <div class="esriCTInnerLeftPanelBottom displayNone">
            <div class="esriCTTopPanel">
                <div data-dojo-attach-point="leftPanelHeader" class="esriCTGalleryNameCategories">
                </div>
                <div class="esriCTsortby">
                    <div data-dojo-attach-point="sortByDiv" class="esriCTsorthead ">
                        ${nls.sortByTextMobile}</div>
                    <div class="esriCTSortMenu">
                        <ul>
                            <li class="tickmark">${nls.viewTextMobile}</li>
                            <li>${nls.dateTextMobile}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div data-dojo-attach-point="tagsCategoriesContent" style="display: none;">
                <div class="esriCTCategoriesHead esriCTTopPanel">
                    <div data-dojo-attach-point="tagsCategories" class="esriCTCategoriesMedia">
                    </div>
                    <div data-dojo-attach-point="CategoryTagsResetFiltertext" class="esriCTResetfilter">
                    </div>
                </div>
                <div class="esriCTPadding">
                    <div data-dojo-attach-point="tagsCategoriesCloud" class="esriCTCategories">
                    </div>
                </div>
            </div>
            <div data-dojo-attach-point="geographicTagsContent" style="display: none;">
                <div class="esriCTCategoriesHead esriCTTopPanel">
                    <div data-dojo-attach-point="geoTagsCloudHeader" class="esriCTCategoriesMedia">
                    </div>
                    <div data-dojo-attach-point="geoTagsResetFiltertext" class="esriCTResetfilter">
                    </div>
                </div>
                <div class="esriCTPadding">
                    <div data-dojo-attach-point="geoTagsCloud" class="esriCTCategories">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
